

.login-card {
position: fixed;
  top: 100px;
  right: 30px;
  width: 300px;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 1050;
  display: none;
}

a {
  text-decoration: none;
  color: #2575fc;
}

a:hover {
  text-decoration: underline;
}
/* card row*/
.card {
    box-shadow: 0px 0px 15px black;
}
/* carousel*/
.carousel-item{
    box-shadow: 0px 0px 15px black;
}