

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  
}

a {
  text-decoration: none;
  color: #2575fc;
}

a:hover {
  text-decoration: underline;
}
/* card row*/
.card {
    box-shadow: 10px 10px 15px black;
}